<h1>Add a Vendor</h1>
<p>Add a Vendor here:</p>

<form action="/Vendors" method="post">
  <label for="VendorName">Name</label>
  <input id="VendorName" name="VendorName" type="text">
  <label for="VendorDescription">Description</label>
  <input id="VendorDescription" name="VendorDescription" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/Vendors">Back to Vendor List</a></p>