@using PierresVendorOrderTracker.Models;

<h1>Order Details</h1>


<p><strong>Title:</strong> @Model["order"].Title</p>
<p><strong>Description:</strong> @Model["order"].Description</p>
<p><strong>Price:</strong> $@Model["order"].Price</p>
<p><strong>Date:</strong> @Model["order"].Date</p>


<p><a href='/vendors/@Model["vendor"].Id'>Return to vendor page</a></p>
<p><a href='/'>Home</a></p>